<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <div class="container">
            <!-- <div class="logo">
                <img src="images/athena-logo-removebg-preview.jpg" alt="avatar" srcset="">
            </div> -->
            <div class="app-name"><p>File Console</p></div>
            <div class="login-box">
        <!-- <label class="input" for="user"  >Username</label> -->
        <span class="center">
            <div class="logo">
                <img src="images/1077114.png" alt="avatar" srcset="">
             </div>
        <input class="input" class="input" placeholder=" Enter Username" type="text" name="username" id="user" style="color: black; outline: none;">
        </span>
        <span class="center">
            <div class="logo">
                <img src="images/download.png" alt="avatar" srcset="">
             </div>
            <input class="input" type="password" name="password" placeholder=" Enter Password" id="pass" style="color: black; outline: none;">
        </span>
         
        <!-- <label class="input" class="input" for="Pass" >Password</label> -->
        
        <button class="input" type="submit">Login</button>
        <p class="err"><%= err %></p>
            </div>
            <p class="para">Athena BPO Pvt.Ltd</p>
        </div>
        
    </form>
    
        <!-- <div class="container">
                <div class="login-box">
                    <form action="/login" method="post"> 
                        <label class="input" for="username">Username</label>
                    <input class="input" id="username" name="username" style="color: black; outline: none;" placeholder=" Enter Username" type="text">
                    <label class="input" for="Password" >Password</label>
                    <input class="input" id="Password" name="Password" style="color: black; outline: none;" placeholder=" Enter Password" type="password">
                    <button class="input" type="submit">submit</button>
           

                    </form>
                    
                </div>
            
           
            
        </div> -->
    
</body>
</html>